<div class="login-screen">
    <div class="login-title-bar">Urban Runners</div>

    <p>You already have an account? Great! Login here.</p>
    <% if (flash && flash.err) { %>
        <div class="alert alert-error alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong>
            <%- JSON.stringify(flash.err) %>
        </div>
    <% } else { %>
        <div class="alert alert-error alert-dismissable hide"></div>
    <% } %>
    <form id='loginform' action="/auth/local" method="post">
        <div class="form-group">
            <input type="email" class="form-control login-field" value="" placeholder="Enter your email address" name="email" id="email" />
            <label class="fa fa-envelope login-field-icon" for="login-email"></label>
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" name="password" id="password" />
            <label class="fa fa-lock login-field-icon" for="pass"></label>
        </div>
        <a id="loginButton" class="btn btn-primary btn-lg btn-block" href="#">login</a>
    </form>
    <p>Forget password? It's ok. <a class="login-link" href="#">Recover here &raquo;</a>
    </p>
    <hr />
    <p>Or login with RunKeeper &raquo;</p>
    <div class="social">
        <a href="/auth/runkeeper">
            <img src="/images/runkeeper-iconx48.png" />
        </a>
    </div>

    <p>Don't have an account? <a class="login-link" href="/register">Register Now &raquo;</a>
    </p>
</div>
