<div class="signup-screen">
    <div class="signup-title-bar">Activity Overlord</div>

    <p>Signup using your email address</p>
    <div class="alert alert-error alert-dismissable hide">
    </div>
    <div class="form-group">
        <input type="email" class="form-control signup-field" value="" placeholder="Enter your email address" id="signup-email" />
        <label class="fa fa-envelope signup-field-icon" for="signup-email"></label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control signup-field" value="" placeholder="Enter your nickname" id="signup-name" />
        <label class="fa fa-user signup-field-icon" for="signup-name"></label>
    </div>
    <div class="form-group">
        <input type="password" class="form-control signup-field" value="" placeholder="Password" id="signup-pass" />
        <label class="fa fa-lock signup-field-icon" for="signup-pass"></label>
    </div>

    <div class="form-group">
        <input type="password" class="form-control signup-field" value="" placeholder="Password" id="signup-repeatepass" />
        <label class="fa fa-retweet signup-field-icon" for="signup-repeatepass"></label>
    </div>

    <a id="signupButton" class="btn btn-primary btn-lg btn-block" href="#">Signup</a>
    <a class="signup-link" href="#">&laquo; Back to login</a>
</div>
