code[data-theme*=" "] {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-fg;
  counter-reset: line;
  box-decoration-break: clone;
}

/* Light and dark theme for code blocks*/
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

.dark code[data-theme*=" "],
.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

/* code span[data-line] {
  @apply -ms-6 -me-6 px-6;
} */

/* Line number styles */
code[data-line-numbers] {
  counter-reset: line;
}
code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-fgsubtle;
}

/* Line highlight styles */
code span[data-highlighted-line] {
  @apply bg-uisoft;
}

/* Word highlighted styles */
[data-highlighted-chars] {
  @apply rounded-sm bg-uisoft px-1;
}

[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-sm font-medium;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}
